.App {
  text-align: center;
}

h1{
  background-color: antiquewhite;
}

.pack{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pack>div{
  background-color: blue;
  margin: 60px;
  padding: 10px;
}


