.App {
  text-align: center;
}

h1{
  background-color: antiquewhite;
}

.pack{
  text-align: center;
}

.pack>.name{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pack>.name>div{
  background-color: rgb(0, 0, 53);
  margin: 10px;
  width: 200px;
  padding: 5px;
  border-radius: 5px;
}

.pack>.name>div{
  color: white;
}

button {
  border: none;
  border-radius: 3px;
  font-style: italic;
  font-size: 0.8em;
  margin: 4px 6px;
  width: 50px;
  height: 25px;
}

.doneButton {

  bottom: 5px;
  left: 5px;
  color: green;
}


.deleteButton {
  bottom: 5px;
  right: 5px;
  color: red;
}
