.App {
  text-align: center;
}

h1{
  background-color: antiquewhite;
}

.pack{
  background-color: aqua;
  text-align: center;
}

.pack>.name{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pack>.name>div{
  background-color: aquamarine;
  margin: 20px;
  padding: 50px;
}


